*
{
    padding: 0;
    margin: 0;
}

div.score1
{
    position: fixed;
    top: 4%;
    left: 27%;
    font-family: monospace;
    font-size: 60px;
    color: deepskyblue;
}

div.score2
{
    position: fixed;
    top: 4%;
    left: 73%;
    font-family: monospace;
    font-size: 60px;
    color: firebrick;
}

#ball
{
    width: 3.5%;
    height: 5.5%;
    background-color: #e6b120;
    border-radius: 100%;
    position: fixed;
    top: 52.75%;
    left: 48.25%;
}

body
{
    background-color: #000000;
}

#playbtn
{
    position: absolute;
    left: 44%;
    width: 180px;
    height: 30px;
    top: 2%;
    background-color: #e6b120;
    font-family: serif;
    border-width: thin;
    font-size: 18px;
    vertical-align: middle;
    color: black;
}

#leaderBoard
{
    position: absolute;
    left: 44%;
    width: 180px;
    height: 30px;
    top: 7%;
    background-color: #e6b120;
    font-family: serif;
    border-width: thin;
    font-size: 18px;
    vertical-align: middle;
    color: black;
}

div.paddle1
{
    background-color: deepskyblue;
    width: 3%;
    height: 20%;
    border-radius: 2%;
    position: fixed;
    top: 45.5%;
    left: 0%;
}

div.paddle2
{
    background-color: firebrick;
    width: 3%;
    height: 20%;
    border-radius: 2%;
    position: fixed;
    top: 45.5%;
    left: 97%;
}

#player1
{
    position: fixed;
    left: 23.5%;
    color: deepskyblue;
    font-family: monospace;
    font-size: 225%;
    top: 0%;
}

#player2
{
    position: fixed;
    left: 69.5%;
    color: firebrick;
    font-family: monospace;
    font-size: 225%;
    top: 0%;
}

#field
{
    border-style: dotted;
    width: 93.4%;
    height: 87%;
    left: 3%;
    position: fixed;
    top: 12%;
    border-style: dotted;
    border-width: thick;
    border-width: 5%;
    color: white; 
}